.table-company tr td {
    padding: 20px;
    vertical-align: middle;
}

/** Style du titre de l'offre **/
.company-name {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

/** Style de la div de description de l'offre' **/
.company-description {
    text-align: justify ;
    font-size: 15px;
}

/**  **/
.company-logo{
    position: absolute;
    top: 12px;
    left: 12px;
}

.company-infos {
    text-align: center;
}



.trainee-name {
    padding: 20px;
    font-weight: bold;
    font-size: 30px ;
}
.trainee-referent-logo {
    padding: 10px;
}

.rating a {
   float: right;
   color: #aaa;
   text-decoration: none;
   font-size: 3em
}
.rating a:hover,
.rating a:focus,
.rating a:hover ~ a,
.rating a:focus ~ a {
   color: orange;
   cursor: pointer;
}