/** Style pour le header du menu latéral **/
.nav-menu-header {
    background-color: #1a2226 !important;
    border: 0px !important;
}
.nav-menu-header .title, button.ion-navicon {
    color: #4b646f !important;
}

/** Style pour le corps du menu latéral **/
.nav-menu-body {
    color: #fff !important;
    background-color: #222d32 !important;
}
.nav-menu-body ion-content,
.nav-menu-body .item, 
.nav-menu-body .item-complex, 
.nav-menu-body .item-content, 
.nav-menu-body .item-radio,
.nav-menu-body .item-content {
    background-color: transparent !important;
    color: #fff !important;
    border: 0px !important;
}