.tab-nav.tabs {
    background-color: #ecf0f5 !important;
    border: 0px;
}

.tab-item {
    color: #4095A9 !important;
    font-weight: bold;
    border-color: #4095A9 !important;
}

.tabs .tab-item .icon.trainees-on {
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url('http://hpics.li/68271a3');
  background-size: contain;
}
.tabs .tab-item .icon.trainees-off {
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url('http://hpics.li/ff1b466');
  background-size: contain;
}


.tabs .tab-item .icon.offers-on {
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url('http://hpics.li/1c9a818');
  background-size: contain;
}
.tabs .tab-item .icon.offers-off {
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url('http://hpics.li/c145d7d');
  background-size: contain;
}


.tabs .tab-item .icon.internships-on {
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url('http://hpics.li/d213c05');
  background-size: contain;
}
.tabs .tab-item .icon.internships-off {
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url('http://hpics.li/6689659');
  background-size: contain;
}