/** Style pour le header des pages **/
.main-page .bar-header,
.menu-content .bar-header{
    background-color: #0B7892 !important;
}
.main-page .bar-header .title,
.menu-content .bar-header .title,
button.ion-navicon {
    color: white !important;
}

/** Style pour le corps des pages **/
.main-page .pane {
    background-color: #ecf0f5 !important;
}
.main-page .pane ion-content,
.main-page .pane .item, 
.main-page .pane .item-complex, 
.main-page .pane .item-content, 
.main-page .pane .item-radio,
.main-page .pane .item-content {
    background-color: transparent !important;
    color: #000 !important;
    border: 0px !important;
}

.maxModal{
	top: 0 !important;
	left: 0 !important;
	bottom: 0 !important;
	transition: opacity 0ms !important;
	width: 100% !important;
	height: 100% !important;
}

.no-border {
    border: 0px !important;
}

.full-width {
    width: 100% !important;
}

.middle-valign {
    vertical-align: middle;
}

.width-100 {
    width: 100px;
}
.width-68 {
    width: 68px;
}

.hpad-10 {
    padding: 0px 10px;
}
.right-pad-30 {
    padding:0px 30px 0px 0px !important;
}

.font-18 {
    font-size: 18px;
}
.font-16 {
    font-size: 16px;
}

.button-positive {
    background-color: #0B7892 !important;
    color: white !important;
}

.logo {
    display: block;
    margin: 30px auto;
}