.tab-nav.tabs {
    background-color: #ecf0f5 !important;
    border: 0px;
}

.tab-item {
    color: #4095A9 !important;
    font-weight: bold;
    border-color: #4095A9 !important;
}

.tabs .tab-item .icon.trainees-on {
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url('https://s13.postimg.org/hewvvz6rr/trainees_on.png');
  background-size: contain;
}
.tabs .tab-item .icon.trainees-off {
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url('https://s4.postimg.org/3vp4uj9rh/trainees_off.png');
  background-size: contain;
}


.tabs .tab-item .icon.offers-on {
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url('https://s18.postimg.org/t6wjdtuah/offers_on.png');
  background-size: contain;
}
.tabs .tab-item .icon.offers-off {
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url('https://s16.postimg.org/r75q4omxh/offers_off.png');
  background-size: contain;
}


.tabs .tab-item .icon.internships-on {
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url('https://s10.postimg.org/5hgncj96x/internships_on.png');
  background-size: contain;
}
.tabs .tab-item .icon.internships-off {
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url('https://s13.postimg.org/aj20ax5lz/internships_off.png');
  background-size: contain;
}