/* 
    Created on : 19 oct. 2016, 11:48:00
    Author     : Alexandre
                 Allan
                 Nicolas
                 Maxime
                 William
*/

.tableOffer {
    width: 100%;
}

.tableOffer tr {
    width: 100%;
}

.tableOffer tr td {
    padding: 8px 8px 8px 8px;
    width: 50%;
}
/** Style du titre de l'offre **/
.offerTitle {
    font-size: 25px;
    font-weight: bold;
    border: 0px !important;
    margin-bottom: 10px;
    margin-top: 10px;
}

/** Style de la div de description de l'offre' **/
.description {
    text-align: justify ;
    font-size: 18px;
    overflow: hidden;
    word-wrap: break-word;
}

.informations {
    margin-top: 20px;
    padding-left: 8px;
    border-left: 3px #0B7892 solid;
}
.uniqueInformation {
    font-size: 20px;
}

.uniqueInformation{
    margin-bottom: 20px;
}

.counter {
    font-size: 20px;
}

/**  **/
.stateOffer {
    text-align: center;
    padding-top: 5px;
    width: 32px;
    height: 32px;
}

/**  **/
.stateOffer img{
    align-content: center;
}


.buttonApply {
    border-color: transparent;
    background-color: #0B7892;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    clear: both;
    position: relative;
    width: 100%;
    border-radius: 10px;
}

