<ion-view view-title="Mon panier">
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="offer in offers">
                <table style="width:100%;">
                    <tbody>
                        <tr>
                            <td rowspan="2" style="padding:0px 10px;width:68px;">
                                <img src="/img/delete.png" height="32" width="32" ng-click="removeOffer({{offer.id}})"/>
                            </td>
                            <td style="vertical-align: middle;">
                                <strong style="font-size:18px;">{{offer.label}}</strong>
                            </td>
                            <td rowspan="2">
                                <div class="apply">
                                    <button class="buttonApply" type="submit">Postuler</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: top;">
                                <img src="{{offer.referent.company.logoLink}}" height="24" width="24" style="vertical-align: middle;"/>
                                <span>{{offer.referent.company.name}} - {{offer.duration}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>