<ion-view view-title="Mon panier">
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="offer in offers">
                <table class="full-width">
                    <tbody>
                        <tr>
                            <td rowspan="2" class="width-68 hpad-10">
                                <img src="/img/delete.png" class="middle-valign" height="32" width="32" ng-click="removeOffer({{offer._id}})"/>
                            </td>
                            <td class="middle-valign">
                                <strong class="font-18">{{offer.label}}</strong>
                            </td>
                            <td rowspan="2" class="width-100">
                                <div class="apply">
                                    <button class="buttonApply" ng-click="apply({{offer._id}})" type="submit">Postuler</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="middle-valign">
                                <img class="middle-valign" src="{{offer.referent.logoLink}}" height="24" width="24"/>
                                <span>{{offer.referent.name}} - {{offer.duration}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>