<ion-tabs class="tabs-icon-top tabs-color-active-positive">
    <!-- Main Tab -->
    <ion-tab title="Général" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear">
        <ion-nav-view name="tab-company">
            <ion-view>
                <ion-content>
                    <img class="company-logo" src="{{user.referent.logoLink}}" height="40px" width="40px" />
                    <table class="full-width table-company">
                        <tr>
                            <td class="company-name">{{user.name}}</td>
                        </tr>
                        <tr>
                            <td class="company-description">{{user.description}}</td>
                        </tr>
                        <tr>
                            <td class="company-infos">
                                <img src="../../resources/img/money.png" height="15" width="15"/> {{user.turnover}}<br />
                                <img src="../../resources/img/at.png" height="15" width="15"/> {{user.mail}}<br />
                                <img src="../../resources/img/globe.png" height="15" width="15"/> {{user.website}}<br />
                                <img src="../../resources/img/location.png" height="15" width="15"/> {{user.location}}<br />
                                {{user.type}} <img src="../../resources/img/employee.png" height="15" width="15"/> {{user.numberEmployees}}<br />
                            </td>
                        </tr>
                    </table>
                </ion-content>
            </ion-view>
        </ion-nav-view>
    </ion-tab>

    <!-- Internships Tab -->
    <ion-tab title="Mes stagiaires" icon-off="trainees-off" icon-on="trainees-on">
        <ion-nav-view name="tab-intership">
            <ion-view>
                <ion-content>   
                    <form ng-submit="doRatingTrainee()">
                        <ion-list>
                            <ion-item ng-repeat="trainee in trainees">
                                <table class="full-width">
                                    <tbody>
                                        <tr>
                                            <td rowspan="2">
                                                <img class="middle-valign" src="../../resources/img/employee.png" height="32" width="32"/> 
                                            </td>
                                            <td class="middle-valign">
                                                {{trainee.intern.firstName}} {{trainee.intern.lastName}} - {{trainee.intern.mail}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span>{{trainee.label}} - {{trainee.duration}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <button class="button button-block button-positive" type="submit">Evaluer</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </ion-item>
                        </ion-list>
                    </form>
                </ion-content>
            </ion-view>
        </ion-nav-view>
    </ion-tab>

    <!-- Offers Tab -->
    <ion-tab title="Mes offres" icon-off="offers-off" icon-on="offers-on">
        <ion-nav-view name="tab-offers">
            <ion-view>
                <ion-content>        
                    <ion-list>
                        <ion-item ng-repeat="companyOffer in companyOffers">
                            <table>
                                <tr>
                                    <td class="middle-valign">
                                        <strong class="font-18">{{companyOffer.label}}</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="middle-valign">
                                        <img class="middle-valign" src="{{companyOffer.referent.logoLink}}" height="24" width="24"/>
                                        <span>{{companyOffer.referent.name}} - {{companyOffer.duration}}</span>
                                    </td>
                                </tr>
                            </table>
                        </ion-item>
                    </ion-list>
                </ion-content>
            </ion-view>
        </ion-nav-view>
    </ion-tab>
</ion-tabs>