<ion-view view-title="Entreprise">
    <ion-content>
        <table class="tableOffer">
            <tr>
                <td class="logoCompany">
                    <img class="middle-valign" src="{{company.logoLink}}" height="100px" width="100px"/>
                </td>
                <td class="offerTitle">
                    {{company.nameCompany}}
                </td>
            </tr>
            <tr>
                <td class="description">
                    <strong>Description :</strong>
                    {{company.description}}
                </td>
            </tr>
        </table>
    </ion-content>
</ion-view>
