<ion-modal-view>
    <ion-content>
        <form ng-submit="doFilterOffer()">
            <div class="list no-border">
                <label class="item item-input no-border">
                    <span class="input-label">Filtre 1</span>
                    <input type="text" ng-model="filterViewModel.filtre1">
                </label>
                
                <br/>
                <label class="item item-input no-border">
                    <span class="input-label">Filtre 2</span>
                    <input type="text" ng-model="filterViewModel.filtre2">
                </label>
                
                <label class="item no-border">
                    <button class="button button-block button-positive" type="submit">Filtrer</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-modal-view>