<ion-modal-view>
    <ion-content>
        <img class="close-btn" src="https://s21.postimg.org/e4fnv9b2v/close.png" ng-click="doCloseFilterOffer()"/>
        <form ng-submit="doFilterOffer()">
            <div class="list no-border">
                <label class="item item-input no-border">
                    <span class="input-label">Intitulé</span>
                    <input type="text" ng-model="filterViewModel.label">
                </label>
                
                <label class="item item-input no-border">
                    <span class="input-label">Situation géographique</span>
                    <input type="text" ng-model="filterViewModel.location">
                </label>
                
                <label class="item item-input no-border">
                    <span class="input-label">Entreprise</span>
                    <input type="text" ng-model="filterViewModel.referent.name">
                </label>
                
                <label class="item no-border">
                    <button class="button button-block button-positive" type="submit">Filtrer</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-modal-view>