<ion-view view-title="Offres de stage">
    <ion-nav-buttons side="right">
        <img src="/img/cart.png" height="32" width="32" ng-click="showCart()"/>
    </ion-nav-buttons>
    <ion-content>
        <span class="font-16">
            <img class="search-btn" src="/img/search.png" ng-click="filterOffer()" height="30" width="30"/>
            Filtrer les offres
        </span>
        
        <span class="font-16">
            <img class="delete-btn" src="/img/delete.png" ng-click="deleteFilter()" height="30" width="30"/>
            Supprimer les filtres
        </span>
        
        <ion-list class="offer-list">
            <ion-item ng-repeat="offer in offers" href="#/app/offers/{{offer._id}}">
                <table>
                    <tbody>
                        <tr>
                            <td rowspan="2" class="right-pad-30">
                                <img class="middle-valign" src="/img/{{offer.currentApply.stateLabel}}.png" height="48" width="48"/>
                            </td>
                            <td class="middle-valign">
                                <strong class="font-18">{{offer.label}}</strong>
                            </td>
                        </tr>
                        <tr>
                            <td class="middle-valign">
                                <img class="middle-valign" src="{{offer.referent.logoLink}}" height="24" width="24"/>
                                <span>{{offer.referent.company.name}} - {{offer.duration}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
