<ion-view view-title="Offre">
    <ion-nav-buttons side="right">
        <img src="https://s9.postimg.org/a65qu607z/cart.png" height="32" width="32" ng-click="showCart()"/>
    </ion-nav-buttons>
    <ion-content>
        <table class="tableOffer">
            <tr>
                <td colspan="2" class="offerTitle">
                    {{offer.label}}
                </td>
            </tr>
            <tr>
                <td class="stateOffer">
                    <img class="middle-valign" ng-if="offer.currentApply.stateLabel == 'available'" src="https://s14.postimg.org/z3s6mu2gx/available.png" height="48" width="48"/>
                    <img class="middle-valign" ng-if="offer.currentApply.stateLabel == 'applied'"src="https://s21.postimg.org/eirsi14wn/applied.png" height="48" width="48"/>
                    <img class="middle-valign" ng-if="offer.currentApply.stateLabel == 'valid'" src="https://s12.postimg.org/e7ymv3akt/valid.png" height="48" width="48"/>
                    <img class="middle-valign" ng-if="offer.currentApply.stateLabel == 'refused'" src="https://s13.postimg.org/hcmuzndtj/refused.png" height="48" width="48"/>
                </td>
                <td>
                    <div class="apply">
                        <button class="buttonApply" ng-click="addToCart()" type="submit">Ajouter</button>
                    </div>
                </td>
            </tr>
            <tr>    
                <td>
                    <div class="informations">
                        <div class="uniqueInformation"><img src="https://s12.postimg.org/696371gzh/money.png" height="20" width="20"/>     <strong>{{offer.earning}}</strong></div>
                        <div class="uniqueInformation"><img src="https://s18.postimg.org/tdlkm0zy1/image.png" height="20" width="20"/>     {{offer.referent.name}}</div>                       
                    </div>
                </td>
                <td>
                    <div  class="informations">
                        <div class="uniqueInformation"><img src="https://s10.postimg.org/n52vkk52h/location.png" height="20" width="20"/>     {{offer.location}}</div>
                        <div class="uniqueInformation"><img src="https://s17.postimg.org/5bzkgsh8f/clock.png" height="20" width="20"/>     {{offer.duration}}</div>                        
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="description">
                    {{offer.description}}
                </td>
            </tr>
            <tr>
                <td colspan="2" class="counter">
                    <div  class="informations">
                        <img src="https://s21.postimg.org/bvalqxlzr/counter.png" height="25" width="25" style="vertical-align: middle;"/>
                        42 personnes consultent cette offre.
                    </div>
                </td>
            </tr>
        </table>
    </ion-content>
</ion-view>
