<ion-modal-view class="maxModal">
    <ion-header-bar>
        <h1 class="title">Connexion</h1>
    </ion-header-bar>
    <ion-content>
        <img src="/img/logo_bookingmytraining.png" class="logo" height="140" width="140" />
        <form ng-submit="doLogin()">
            <div class="list no-border">
                <label class="item item-input no-border">
                    <span class="input-label">Login</span>
                    <input type="text" ng-model="loginViewModel.username">
                </label>
                <label class="item item-input no-border">
                    <span class="input-label">Mot de passe</span>
                    <input type="password" ng-model="loginViewModel.password">
                </label>
                <label class="item no-border">
                    <button class="button button-block button-positive" type="submit">Se connecter</button>
                </label>
            </div>
        </form>
        <label class="item no-border">
            <button class="button button-block button-positive" ng-click="formInscription()" type="submit">Pas encore inscrit ?</button>
        </label>
</ion-modal-view>