<ion-modal-view class="maxModal">
    <ion-header-bar>
        <h1 class="title">Connexion</h1>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="doLogin()">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Login</span>
                    <input type="text" ng-model="loginViewModel.username">
                </label>
                <label class="item item-input">
                    <span class="input-label">Mot de passe</span>
                    <input type="password" ng-model="loginViewModel.password">
                </label>
                <label class="item">
                    <button class="button button-block button-positive" type="submit">Se connecter</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-modal-view>