<ion-view view-title="Mes stages">
    <ion-content>        
        <ion-list>
            <ion-item ng-repeat="internship in myInternships" href="#/app/myInternships/{{internship.id}}">
                <table>
                    <tbody>
                        <tr>
                            <td class="middle-valign">
                                <img class="middle-valign" src="{{internship.referent.company.logoLink}}" height="50" width="50"/>
                            </td>
                            <td>
                                <span class="hpad-10">{{internship.referent.company.name}} - {{internship.label}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
