<ion-modal-view>
    <ion-header-bar>
        <img class="close-btn" src="{{imagesURL.close}}" ng-click="doCloseRatingTraineeForm()"/>
        <h1 class="title">Evaluation</h1>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="doRateTrainee()">
            <div class="list no-border">
                <label class="item item-input no-border">
                    <label>Note</label>
                    <div class="rating">
                        <a ng-click="rate(1)">☆</a>
                        <a ng-click="rate(2)">☆</a>
                        <a ng-click="rate(3)">☆</a>
                        <a ng-click="rate(4)">☆</a>
                        <a ng-click="rate(5)">☆</a>
                     </div>
                </label>
                <label class="item item-input no-border">
                    Commentaire
                </label>
                <label class="item item-input no-border">
                    <textarea name="commentaire" id="commentaire" rows="10" cols="50"/>
                </label>
                <label class="item no-border">
                    <button class="button button-block button-positive" type="submit">Enregistrer</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-modal-view>