<ion-view view-title="Mon compte">
    <ion-content>
        <div>
            <ion-tab icon-off="" icon-on="" href="">
                
            </ion-tab>
        </div>
        <ion-slide-box>
            <ion-slide>
                <div class="list">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Prénom</span>
                        <input type="text" placeholder="John">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Nom</span>
                        <input type="text" placeholder="Suhr">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Login</span>
                        <input type="text" placeholder="John">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Password</span>
                        <input type="password" placeholder="Suhr">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">mail</span>
                        <input type="text">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">niveau d'étude</span>
                        <input type="text">
                    </label>
		</div>
            </ion-slide>
        <ion-slide>2</ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>
