<ion-tabs class="tabs-icon-top tabs-color-active-positive">
    <!-- Main Tab -->
    <ion-tab title="Général" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear">
        <ion-nav-view name="tab-company">
            <ion-view>
                <ion-content>
                    test tab 1
                </ion-content>
            </ion-view>
        </ion-nav-view>
    </ion-tab>

    <!-- Internships Tab -->
    <ion-tab title="Mes stages" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong">
      <ion-nav-view name="tab-intenrships">
          <ion-view>
              <ion-content>
                  test tab 2
              </ion-content>
          </ion-view>
      </ion-nav-view>
  </ion-tab>
</ion-tabs>