<ion-tabs class="tabs-icon-top tabs-color-active-positive">
    <!-- Main Tab -->
    <ion-tab title="Général" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear">
        <ion-nav-view name="tab-company">
            <ion-view>
                <ion-content>
                    <div class="list no-border">
                        <label class="item item-input no-border tableTrainee">
                            {{trainee.firstname}} {{trainee.lastname}}
                        </label>
                        <label class="item item-input no-border">
                            <img src="/img/at.jpg" height="15" width="15"/> {{trainee.mail}}
                        </label>
                    </div>
                </ion-content>
            </ion-view>
        </ion-nav-view>
    </ion-tab>

    <!-- Internships Tab -->
    <ion-tab title="Mes stages" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong">
        <ion-view>
            <ion-content>  
                <form ng-submit="doRatingCompany()">
                    <ion-list>
                        <ion-item ng-repeat="internship in myInternships">
                            <table>
                                <tbody>
                                    <tr>
                                        <td rowspan="2" class="button-rating">
                                            <button class="button button-block button-positive" type="submit">Evaluer</button>
                                        </td>
                                        <td class="middle-valign">
                                            <img class="middle-valign" src="{{internship.referent.company.logoLink}}" height="50" width="50"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="hpad-10">{{internship.referent.company.name}} - {{internship.label}}</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </ion-item>
                    </ion-list>
                </form>
            </ion-content>
        </ion-view>
  </ion-tab>
</ion-tabs>